<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&family=Roboto:wght@100;300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='/images/sambosa_icon.png') }}"
      type="image/svg+xml"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Sambosa</title>
  </head>
  <body>
    <div id="root">Loading ...</div>
    <!-- Load JavaScript -->
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/bundle.js') }}"
    ></script>
  </body>
</html>
